{{ define "main" }}
  <div class="projectSingle__container">
    <section class="projectSingle__sidebar">
      <h2>Projects</h2>
      {{ range (where .Site.RegularPages "Type" "in" "projects").ByDate.Reverse }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{ end }}
    </section>
    <section class="projectSingle__details">
      <h2>{{ .Title }}</h2>
      <p>
        <img src="{{ .Params.image }}" alt="{{ .Params.alt_text }}">
      </p>
      {{ .Content }}
      <section>
        <h3>Tech Used:</h3>
        <ul>
          {{ range .Params.tech_used }}
            <li>{{ . }}</li>
          {{ end }}
        </ul>
      </section>
    </section>
  </div>
{{ end }}