.container {
	width: 80%;
	margin: 0 auto;
}
/* Navbar */
nav, footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 8px 0;
}
nav {
	display: flex;
	flex-direction: column;
}
nav > a {
	flex: 1;
	text-decoration: none;
	color: #fff;
}

/* Opensource  */
.oss {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.oss article {
	border: 1px solid #ddd;
	box-shadow: 3px 3px 3px #ddd;
	margin: 0.5%;
	padding: 0.5%;
	width: 30%;
}

/* Footer  */
.footer-sc-links {
	border-bottom: 1px solid #444;
	padding: 16px 0;
	gap: 16px;
}
.footer-sc-links a {
	color: #888;
}
.footer-sc-links a:hover {
	color: #ccc;
}
.footer-credits {
	padding: 16px 0;
}


/* === Media Queries === */
/* 768px -> UP */
@media only screen and (min-width: 768px) {
	nav {
		flex-direction: row;
	}
	.projectSingle__container {
		display: flex;
	}
	.projectSingle__container .projectSingle__sidebar {
		width: 20%;
	}
	.projectSingle__container .projectSingle__details {
		flex: 1;
	}
	.projectList__container {
		border: 1px dashed #ccc;
		padding: 20px;
		margin-bottom: 1.5rem;
	}
	.projectList__container .projectList__project {
		border-bottom: 1px solid #ebebeb;
	}
	.projectList__container .projectList__project:last-child {
		border: none;
	}
	.projectList__container .projectList__project--title {
		font-family: monospace;
	}
}



/*=== Utilities ===*/
.flex {
	display: flex;
}
.items-center {
	align-items: center;
}
.justify-center {
	justify-content: center;
}
.justify-between {
	justify-content: space-between;
}