{{ define "main" }}
	{{ .Content }}
	<h2>Hi! This is Avinash Murmu, and I'm a <i>Full-Stack Developer</i>.</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi tenetur modi rem aliquam cum, accusamus excepturi ad illo sint numquam, quo dolor quod obcaecati ut a, temporibus non quaerat nemo.</p>

	<div class="projectList__container">
		<h3>Current Project</h3>
		<hr>
		{{ range first 1 (where .Site.RegularPages "Type" "in" "projects").ByDate.Reverse }}
			<section class="projectList__project">
				<h3 class="projectList__project--title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
			</section>
		{{ end }}
	</div>
	
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, repudiandae doloremque magnam maiores magni dolore quia ipsum minus iste iusto nostrum impedit aspernatur aliquid amet totam vel consequuntur ipsam repellendus accusantium nulla. Nisi repellat quos at? Vitae iure soluta sapiente, incidunt blanditiis, dolores dolor quam ab vel itaque, libero sint!</p>
{{ end }}