---
const {title} = Astro.props;
---

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{title} | Portfolio</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/css/custom-bootstrap.css" />
	<!-- Custom Stylesheet -->
	<link rel="stylesheet" href="/css/style.css" />
	<!-- Font Awesome CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
</head>